main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
        font-size: 2rem;
        line-height: 1.8em;
        margin: 1em 0em;
    }
}

nav {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em;

    // width: ;
    text-align: center;

    .work {
        grid-column: 2;
    }

    a {
        color: rgb(209, 209, 255);
        &:hover {
            text-decoration: underline;
        }
    }
}
