main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    h1 {
        font-size: 2rem;
        line-height: 1.8em;
        margin: 1em 0em;
    }
}

nav.centernav {
    font-size: 1.5rem;
    margin-top: 10vh;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    $link-color: rgb(209, 209, 255);

    @media only screen and (max-width: 768px) {
        margin-top: 0.2em;
        padding-top: 6em;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 0em;
    }

    // width: ;
    text-align: center;

    a {
        color: #6a9bc8;
        font-weight: 100;
        border: 2px solid transparent;
        border-radius: 0.6em;
        padding: 1.8em 1.5em;
        z-index: 1;
        &:hover {
            text-decoration: underline;
        }
    }

    .art {
    }

    .about {
        position: relative;
        @media only screen and (min-width: 768px) {
            bottom: 100%;
        }
    }

    .projects {
    }

    .work {
        grid-column: 2;
        @media only screen and (max-width: 768px) {
            grid-column: auto;
        }
    }

    .linkart {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            width: 6em;
            opacity: 0;
            z-index: 0;
            transition: opacity 0.6s ease;
            &.visible {
                transition: opacity 1s ease;
                opacity: 1;
                z-index: 2;
            }
        }
    }
}
