@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

html,
body,
main {
    background-color: black;
    color: #f1f1f1;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}
