.post {
    margin: 0.2em 0em;
    border-radius: 0.8em;
    border: 2px solid #666;
    padding: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
    }
    img {
        min-width: 200px;
        max-height: 40vh;
    }
    h3 {
        font-size: 1.6em;
        line-height: 1.2em;
        margin-bottom: 0.5em;
    }
}

a.externalLink {
    color: #6a9bc8;
    &:hover {
        text-decoration: underline;
    }
}

.postslist {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    gap: 0.6em;
}
